// buttons wrap
.button-field {
  display: flex;
  
    & > div {
      flex: 1;
      display: flex;
    }
  
    & > div > input:last-child {
      flex: 1;
    }
}

// button component

.button {
  cursor: pointer;
  border: none;
  width: 120px;
  height: 50px;
  padding: 10px 0px;
  border-radius: 5%;
  text-align: center;
  background: grey;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(158,153,158,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(158,153,158,1);
  box-shadow: 2px 2px 5px 0px rgba(158,153,158,1);
  
  &:focus {
    outline: none;
  }
}